/* Base styling for larger screens */
.featured-main {
    width: 100%;
    margin: 50px 0;
}
.featured-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.f-title {
    font-size: 3rem;
    color: #FFD700;
    letter-spacing: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #FFD700;
}

/* Updated styling for blog cards */
.featured-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.featured-blog-card {
    background-color: #FFFFFF;
    border: 1px solid #EACBED;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.featured-blog-card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.fb-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.fb-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
    height:100px;
}

.fb-author {
    font-size: 0.9rem;
    color: #FFD700;
    font-style: italic;
    margin-bottom: 15px;
    height:20px;
}

.fb-read {
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.fb-read:hover {
    background-color: #EACBED;
    color: #333;
    transform: scale(1.05);
}

.fb-read-link {
    text-decoration: none;
    margin-top: auto;
}

/* Responsive styling */
@media (max-width: 998px) {
    .f-title {
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }
    .fb-title {
        font-size: 1.2rem;
    }
    .fb-author {
        font-size: 0.8rem;
    }
    .fb-read {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .featured-blogs {
        grid-template-columns: 1fr;
    }
    .f-title {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        border-right: 2px solid #FFD700;
    }
    .fb-title {
        font-size: 1.1rem;
    }
    .fb-author {
        font-size: 0.75rem;
    }
    .fb-read {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 520px) {
    .featured-main {
        margin: 30px 0;
    }
    .f-title {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        border-right: 1px solid #FFD700;
    }
    .fb-image {
        height: 150px;
    }
    .fb-content {
        padding: 15px;
    }
    .fb-title {
        font-size: 1rem;
    }
    .fb-author {
        font-size: 0.7rem;
    }
    .fb-read {
        padding: 6px 14px;
        font-size: 0.8rem;
    }
}
